:root {
  --orange-tenne: #bf4d00;
  --orange-phillys: #ff6600;
  --orange-saddlebrown: #803300;
  --orange-brownpod: #401a00;
  --orange-persimmon: #e65c00;
  --blue-cobalt: #004dbf;
  --blue-darkcerulean: #003380;
  --blue-phillys: #0066ff;
  --blue-tangaroa: #001a40;
  --blue-navy: #005ce6;
  --white: #ffffff;
  --dark-grey: #332e30;
  --light-grey: #cccccc;
  --black: #000000;
  --main-font: Futura, Helvetica, Arial, sans-serif;
}

* {
  font-family: var(--main-font);
}

.icon-menu .icon-bg {
  fill: var(--blue-phillys);
}
.icon-menu .icon-color {
  fill: var(--white);
}
.icon-menu:hover .icon-bg {
  fill: var(--orange-phillys);
  transition: fill 0.5s ease-out;
}
.icon-menu:active .icon-bg {
  fill: var(--orange-phillys);
}
.icon-menu:active .hamburger-top {
  animation: top-bar 1s forwards 1;
  transform-origin: 50% 50%;
}
.icon-menu:active .hamburger-middle {
  fill: transparent;
  transition: fill 0.5s ease-out;
}
.icon-menu:active .hamburger-bottom {
  animation: bottom-bar 1s forwards 1;
  transform-origin: 50% 50%;
}

@keyframes top-bar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: translateY(85px);
  }
  100% {
    transform: rotateZ(135deg) translateY(85px);
  }
}
@keyframes bottom-bar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: translateY(-85px);
  }
  100% {
    transform: rotateZ(45deg) translateY(-85px);
  }
}
.site-header {
  background: var(--blue-phillys);
  margin-bottom: 1.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-outer {
  fill: var(--white);
}

#logo-inner {
  fill: var(--black);
}

.site-header #logo-outer {
  fill: var(--white);
}
.site-header #logo-inner {
  fill: var(--orange-phillys);
}

.nav-link, h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-font);
  font-weight: normal;
  text-transform: uppercase;
}
.nav-link strong, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-weight: bold;
}
.nav-link em, h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.swatch-list {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.rule-list {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .rule-list {
    flex-direction: column;
  }
}

.bm-icon:hover .icon-bg {
  fill: var(--orange-phillys);
}

.color-header {
  margin-bottom: 0px;
}

.typography-wrap {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .typography-wrap {
    flex-direction: column;
  }
}
.typography-wrap .typography-description {
  flex-grow: 1;
  margin: 1rem;
  flex-basis: 50%;
}
.typography-wrap .typography-display {
  margin: 1rem;
  flex-grow: 2;
}

.logo-info {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.logo-info .logo-title {
  margin-bottom: 0px;
}
.logo-info .sample-wrap {
  display: flex;
  justify-content: center;
}
.logo-info .sample-wrap #logo-sample {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.logo-info .sample-wrap #logo-sample #logo-inner {
  fill: var(--orange-phillys);
}
.logo-info .sample-wrap #logo-sample #logo-outer {
  fill: var(--blue-phillys);
}

.spacer-sample {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/*# sourceMappingURL=main.css.map */
